singularity.autoMounts = true
singularity.enabled = true

executor {
	name = 'slurm'
	queueSize = 30000
}

process {
        executor='slurm'
        clusterOptions='--partition=topmed-working --exclude=topmed,topmed[2-10]'
        containerOptions='--bind "/net:/net"'
		shell = ['/bin/bash', '-ueo','pipefail']
}

env {
	NUMEXPR_MAX_THREADS=1
	HDF5_USE_FILE_LOCKING='FALSE'	
}
